<div>
			<center><a href="http://www.thebouldersocialclub.com"><img src="http://www.thebouldersocialclub.com/images/small_logo.png" alt="Logo"/></a></center>
			<p>
</p><h1>  <%= @event.title %></h1>
<p>
  <b>What's Going Down:</b>
  <%= @event.description %>
</p>
<p>
  <b>Show up:</b>
<%= @event.when %></p>
<p>
  <b>The Digs:</b>
	<%= @event.location.name %><br/>
	<%= url_for(@event.location.map_src) %>
</p>
</div>