<div>
<a href="http://www.thebouldersocialclub.com"><img src="http://www.thebouldersocialclub.com/images/medium_logo.png" alt="Logo" style="border: none;"/></a>
<h1>You've Been Invited to:<h2>  <%= @event.title %></h2></h1>
<%= url_for(public_event_path(@event)) %>
<p>
  <b>What's Going Down:</b>
  <%= @event.description %>
</p>
<p>
  <b>Show up:</b><br/>
	 <div style="width: 350px"><%= @event.when %></div>
</p>
<p>
  <b>The Digs:</b><br/>
	<%= @event.location.name %><br/>
	<%= @event.location.street_address %><br/>
	<%= @event.location.gmap %>
</p>
</div>