<h1>Edit event</h1>

<% form_for @event, :html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :theme %><br />
    <%= f.text_field :theme %>
  </p>
  <p>
    <%= f.label :when %><br />
    <%= f.text_field :when %>
  </p>
  <p>  
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>10 %>
  </p>
  <p>    
    <%= f.label :picture_location %><br />
    <%= f.file_field :picture_location %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.select :location_id, Location.find(:all).collect{|l|[l.name, l.id]} %>
  </p>
  <p>
    <%= f.label :projected_cost %><br />
    <%= f.text_field :projected_cost %>
  </p>
  <p>
    <%= f.label :ticket_type_id %><br />
    <%= f.select :ticket_type_id, TicketType.find(:all).collect{|l|[l.name, l.id]} %>
  </p>
  <p>
    <%= f.submit "save" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
