<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Theme</th>
    <th>Location</th>
    <th>Projected cost</th>
    <th>Ticket type</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.title %></td>
    <td><%=h event.theme %></td>
    <td><%=h event.location_id %></td>
    <td><%=h event.projected_cost %></td>
    <td><%=h event.ticket_type_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
