<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
<div id="nav" style="margin-left:10px">
	<%= link_to current_user.login, edit_user_path(current_user) %>
	<%#= link_to_current_user :content_method => :login %> /
  <%= link_to "signout", logout_path, { :title => "Log out" }    %> /
	<%= link_to "home", root_path %> /
	<%= link_to "events", events_path %> /
	<%= link_to "locations", locations_path %> /
	<%= link_to "users", users_path %> /
	<%= link_to "contacts", contacts_path %></div>
<p style="color: green"><%= flash[:notice] %></p>
<div id="page">
	<%= yield  %>
</div>

<div id="footer">
	<%= render :partial => 'users/user_bar' %>
	
</div>
</body>
</html>
